* {
  margin: 0;
  padding: 0;
  background-color: #212125;
  color: #ffff;
}

body {
  width: 70%;
  margin: 50px auto;
}

button {
  background-color: #ffc107;
  color: #212125;
  border: 0;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}
